body{
    background-color: #000;
    color: aqua;
    font-family: 'Times New Roman', Times, serif;

}

table{
    border-collapse: collapse;
}

td,th{
    border: 2px solid blue;
    padding: 10px;
}